{% extends "landing/base.html" %}

{% block content %}

    {% include 'landing/_hero.html' %}

    {% include 'landing/_features.html' %}

    {% include 'landing/_faq.html' %}

    <script>
        function scaleIframe() {
            const container = document.getElementById('scrollContainer');
            const wrapper = document.getElementById('iframeWrapper');
            
            // Cek elemen ada atau enggak (Penting biar ga error JS)
            if (!container || !wrapper) return;

            // [FIX] Pake 1280px biar di HP tulisan lebih kebaca
            const desktopWidth = 1280; 
            const containerWidth = container.offsetWidth;
            
            let scale = containerWidth / desktopWidth;
            
            if (containerWidth < desktopWidth) {
                // Scaling Mode (Mobile)
                wrapper.style.transform = `scale(${scale})`;
                wrapper.style.transformOrigin = 'top left';
                wrapper.style.width = `${desktopWidth}px`; 
                wrapper.style.height = `1400px`; 
            } else {
                // Desktop Mode (Normal)
                wrapper.style.transform = 'scale(1)';
                wrapper.style.width = '100%';
                wrapper.style.height = '100%';
            }
        }

        // Jalankan saat load & resize
        window.addEventListener('load', scaleIframe);
        window.addEventListener('resize', scaleIframe);
    </script>

{% endblock %}
