{% extends "landing/base.html" %}

{% block content %}

    {% include 'landing/_hero.html' %}

    {% include 'landing/_features.html' %}

    {% include 'landing/_pricing.html' %}

    {% include 'landing/_faq.html' %}

    <script>
        function scaleIframe() {
            const container = document.getElementById('scrollContainer');
            const wrapper = document.getElementById('iframeWrapper');
            
            // Lebar Desktop Ideal yang kita paksa tampil di HP
            const desktopWidth = 1440; 
            
            // Lebar layar HP user saat ini
            const containerWidth = container.offsetWidth;
            
            // Hitung rasio zoom (biar muat)
            let scale = containerWidth / desktopWidth;
            
            if (containerWidth < desktopWidth) {
                // Kecilin wrapper pake CSS Transform
                wrapper.style.transform = `scale(${scale})`;
                wrapper.style.transformOrigin = 'top left';
                wrapper.style.width = `${desktopWidth}px`; 
                // Tinggi harus diset manual biar scrollbarnya tau ada konten
                wrapper.style.height = `800px`; 
            } else {
                // Kalau di Laptop/PC, balikin normal
                wrapper.style.transform = 'scale(1)';
                wrapper.style.width = '100%';
                wrapper.style.height = '100%';
            }
        }

        // Jalankan saat load & saat layar diputer/resize
        window.addEventListener('load', scaleIframe);
        window.addEventListener('resize', scaleIframe);
    </script>

{% endblock %}

